form, .main {
    background-color: rgb(117, 115, 115);
    margin: 2px;
    font-size: 20px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
    margin:auto;
    width: 75%;
}

textarea { 
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 50%;
    border: 4px solid black;
    border-radius: 30px;
    font-size: 16px; 
}

header {
    font-size: 15px;
    text-align: center;
    color: #4CAF50;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: #4CAF50;
}

h2{
    text-align: center;
    color: #4CAF50;
}

input {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 40%;
    border: 4px solid black;
    border-radius: 30px;
    font-size: 16px;  
}

.error {
    color: rgb(165, 0, 33);
    font-size: 15px;
}

.success{
    color: rgb(19, 107, 1);
    font-size: 15px;
}

.submit { 
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    cursor: pointer;
    border: none;
    margin-top: 10px;  
}

p {
    text-align: center;
}

.base {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(117, 115, 115);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}

.nav {
    display: inline;
}

.nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover{
    background-color: #4CAF50;
}

.home {
    text-align: center;
    list-style-type: none;
}
